html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  background-color: #eee;
  clear: both;
  color: #244751;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.container {
  background-color: #ffffff;
  clear: both;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 450px;
  padding: 2em;
}

article {
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  margin-top: 20px;
  opacity: 0.7;
}

article:hover {
  opacity: 1;
}

article:hover .icon {
  opacity: 1;
}

.tweet {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 60px;
}

.full-name {
  font-size: 1.5em;
  font-weight: 700;
  margin: 5px 80px 0 0;
  width: 60%;
}

.tweet h4 {
  font-weight: 300;
  margin: 15px 10px;
}

.tweet header {
  background-color: #CDEEEE;
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.logo {
  border-radius: 5px;
  height: 50px;
  margin: 10px;
  max-height: 100%;
  max-width: 100%;
  opacity: 0.75;
  width: 50px;
}

.icon {
  float: right;
  height: 16px;
  opacity: 0;
  margin: 2%;
  width: 16px;
}

.tweet footer {
  border-top: 1px solid #b3b3b3;
}

.content {
  overflow-wrap: break-word;
  padding: 5%;
}

.date-stamp {
  margin-left: 3%;
  padding: 2%;
}

.negChar {
  color: #BB3E49;
}
