#nav-bar {
  background-color: #3DB8B1;
  clear: both;
  color: #e8fdff;
  height: 80px;
  padding: 0 2em 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#nav-bar .logo {
  float: left;
  height: 80px;
  padding-right: 10px;
  width: 80px;
}
#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
}
#compose {
  background-color: white;
  border-radius: 5px;
  float: right;
  margin-top: 12px;
  opacity: 0.5;
  padding: 15px;
}
#compose:hover {
  opacity: 1;
}
