.counter {
  margin-left: 75%;
  font-weight: 300;
  font-style: italic;
}

.new-tweet {
  background-color: #D3D3D3;
  border-radius: 10px;
  border: 1px solid #696969;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  max-width: 100%;
  outline-color: #696969;
  padding: 8px;
}

form {
  border-radius: 5px;
}

textarea {
  width: 100%;
  border: 1px red;
  border: 1px solid #696969;
}